<div class="row">
  <div class="col-md-6">
    <%= simple_form_for @producto do |f| %>

        <%= f.input :nombre %>
        <%= f.input :descripcion %>
        <%= f.input :avatar %>
        <%= f.button :submit %>
    <% end %>
  </div>
</div>